---
mainnet:
  zilswap_address_hex: "0xba11eb7bcc0a02e947acf03cc651bfaf19c9ec00"
  distributions:
    - name: "ZWAP Rewards"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0x0d21c1901a06abee40d8177f95171c8c63abdc31"
      distributor_name: Zilswap
      distributor_address_hex: "0xca6d3f56218aaa89cd20406cf22aee26ba8f6089"
      developer_address: zil1zjvc2m9f5vh8zl57su5j8lflgaq2lx08kcwdvy
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: 6250_000_000_000_000
        tokens_for_retroactive_distribution: 50000_000_000_000_000
        retroactive_distribution_cutoff_time: 1610964000
        distribution_start_time: 1612339200
        total_number_of_epochs: 152
        initial_epoch_number: 2
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools:
        zil1p5suryq6q647usxczale29cu3336hhp376c627: 40 # ZWAP
        zil1zu72vac254htqpg3mtywdcfm84l3dfd9qzww8t: 5  # XSGD
        zil14pzuzq6v6pmmmrfjhczywguu0e97djepxt8g3e: 3  # gZIL
        zil1kwfu3x9n6fsuxc4ynp72uk5rxge25enw7zsf9z: 3  # SCO
        zil1504065pp76uuxm7s9m2c4gwszhez8pu3mp6r8c: 3  # STREAM
        zil1h63h5rlg7avatnlzhfnfzwn8vfspwkapzdy2aw: 2  # XCAD
        zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk: 2  # CARB
        zil1gf5vxndx44q6fn025fwdaajnrmgvngdzel0jzp: 2  # BLOX
        zil14jmjrkvfcz2uvj3y69kl6gas34ecuf2j5ggmye: 2  # REDC
        zil1qldr63ds7yuspqcf02263y2lctmtqmr039vrht: 2  # ZPAINT
        zil18f5rlhqz9vndw4w8p60d0n7vg3n9sqvta7n6t2: 1  # PORT
        zil1lq3ghn3yaqk0w7fqtszv53hejunpyfyh3rx9gc: 1  # Elons
        zil1ucvrn22x8366vzpw5t7su6eyml2auczu6wnqqg: 1  # ZYRO
        zil1w5hwupgc9rxyuyd742g2c9annwahugrx80fw9h: 1  # GARY
        zil1l0g8u6f9g0fsvjuu74ctyla2hltefrdyt7k5f4: 1  # ZLP
        zil1s8xzysqcxva2x6aducncv9um3zxr36way3fx9g: 1  # ZCH
        zil1pqcev4ykxla0jhy3anx32lnqgv8xncd8q57ql2: 1  # SPW
        zil14d6wwelssqumu6w9c6kaucz2r57z34cxuh96lf: 1  # SHARDS
        zil1xswavlggsqmkd9kddcp0ulceqm9ht36gqkt8ua: 1  # ZWALL
        zil1c6akv8k6dqaac7ft8ezk5gr2jtxrewfw8hc27d: 1  # DUCK
        zil1r9dcsrya4ynuxnzaznu00e6hh3kpt7vhvzgva0: 1  # ZLF
        zil168qdlq4xsua6ac9hugzntqyasf8gs7aund882v: 1  # SRV
testnet:
  zilswap_address_hex: "0x1a62dd9c84b0c8948cb51fc664ba143e7a34985c"
  distributions:
    - name: "ZWAP Rewards Legacy"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0xb2b119e2496f24590eff419f15aa1b6e82aa7074"
      distributor_name: Zilswap
      distributor_address_hex: "0x4e23d05b602ffa931115faf133b56fab57b2293d"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: 6250_000_000_000_000
        tokens_for_retroactive_distribution: 50000_000_000_000_000
        retroactive_distribution_cutoff_time: 1628230000
        distribution_start_time: 1628240000
        total_number_of_epochs: 0
        initial_epoch_number: 1
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1k2c3ncjfduj9jrhlgx03t2smd6p25ur56cfzgz: 5 # ZWAP
    - name: "ZWAP Rewards"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0xb2b119e2496f24590eff419f15aa1b6e82aa7074"
      distributor_name: Zilswap
      distributor_address_hex: "0x1d9ab755d3101532af7e1aee0fd74dfba350c63c"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: 6250_000_000_000_000
        tokens_for_retroactive_distribution: 50000_000_000_000_000
        retroactive_distribution_cutoff_time: 1628230000
        distribution_start_time: 1628240000
        total_number_of_epochs: 152
        initial_epoch_number: 1
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1k2c3ncjfduj9jrhlgx03t2smd6p25ur56cfzgz: 5 # ZWAP
