---
mainnet:
  zilswap_address_hex: "0xba11eb7bcc0a02e947acf03cc651bfaf19c9ec00"
  distributions:
    - name: "ZWAP Rewards Legacy"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0x0d21c1901a06abee40d8177f95171c8c63abdc31"
      distributor_name: Zilswap
      distributor_address_hex: "0xc6bacb210f0c096cf6e2aaad8bfd30061e127f12"
      developer_address: zil1zjvc2m9f5vh8zl57su5j8lflgaq2lx08kcwdvy
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "6250000000000000"
        tokens_for_retroactive_distribution: "50000000000000000"
        retroactive_distribution_cutoff_time: 1610964000
        distribution_start_time: 1612339200
        total_number_of_epochs: 29
        initial_epoch_number: 2
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools: {}
    - name: "ZWAP Rewards"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0x0d21c1901a06abee40d8177f95171c8c63abdc31"
      distributor_name: Zilswap
      distributor_address_hex: "0xea57c6b7b5475107688bc70aabefdd5352d0bed0"
      developer_address: zil1zjvc2m9f5vh8zl57su5j8lflgaq2lx08kcwdvy
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "6250000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1629878400
        total_number_of_epochs: 123
        initial_epoch_number: 0
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1p5suryq6q647usxczale29cu3336hhp376c627: 40 # ZWAP
        zil1sxx29cshups269ahh5qjffyr58mxjv9ft78jqy: 6  # zUSDT
        zil14pzuzq6v6pmmmrfjhczywguu0e97djepxt8g3e: 5  # gZIL
        zil19j33tapjje2xzng7svslnsjjjgge930jx0w09v: 4  # zETH
        zil1wha8mzaxhm22dpm5cav2tepuldnr8kwkvmqtjq: 4  # zWBTC
        zil1zu72vac254htqpg3mtywdcfm84l3dfd9qzww8t: 4  # XSGD
        zil18f5rlhqz9vndw4w8p60d0n7vg3n9sqvta7n6t2: 3  # PORT
        zil1z5l74hwy3pc3pr3gdh3nqju4jlyp0dzkhq2f5y: 3  # XCAD
        zil19lr3vlpm4lufu2q94mmjvdkvmx8wdwajuntzx2: 3  # DMZ
        zil1gf5vxndx44q6fn025fwdaajnrmgvngdzel0jzp: 2  # BLOX
        zil1xxl6yp2twxvljdnn87g9fk7wykdrcv66xdy4rc: 2  # Lunr
        zil1jy3g5j9w5njqwxuuv3zwkz9syyueelmu7g080v: 2  # FEES
        zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk: 2  # CARB
        zil1pqcev4ykxla0jhy3anx32lnqgv8xncd8q57ql2: 2  # SPW
        zil1vdc79fg75sth96xnt6xmq5f55swcd5t6m5zhvn: 1  # Yoda
        zil1504065pp76uuxm7s9m2c4gwszhez8pu3mp6r8c: 1  # STREAM
        zil1kwfu3x9n6fsuxc4ynp72uk5rxge25enw7zsf9z: 1  # SCO
        zil12jhxfcsfyaylhrf9gu8lc82ddgvudu4tzvduum: 1  # Oki
    - name: "STREAM Rewards"
      reward_token_symbol: STREAM
      reward_token_address_hex: "0xa3eafd5021f6b9c36fd02ed58aa1d015f2238791"
      distributor_name: ZilStream
      distributor_address_hex: "0xfb5c8383ffdfa79a655207eef45841f8c9881d22"
      developer_address: zil1xsfg85lm208juqlxjjl82dyft3aad0y0w4sytn
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "2403800000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1632902400
        total_number_of_epochs: 193
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1504065pp76uuxm7s9m2c4gwszhez8pu3mp6r8c: 1  # STREAM
    - name: "BLOX Liquidity Rewards"
      reward_token_symbol: BLOX
      reward_token_address_hex: "0x4268c34da6ad41a4cdeaa25cdef6531ed0c9a1a2"
      distributor_name: BLOX
      distributor_address_hex: "0x644590ca7de53c5275a1b5602099f3d65da4343f"
      developer_address: zil1gy9v2fy4nsa5n5mx7grtt5sn205d6qduxkl84t
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "1086900"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1632902400
        total_number_of_epochs: 84
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1gf5vxndx44q6fn025fwdaajnrmgvngdzel0jzp: 1  # BLOX
    - name: "RECAP Rewards"
      reward_token_symbol: RECAP
      reward_token_address_hex: "0x5346c4ff16dc347f5529e725869a5ea0fbd67ea4"
      distributor_name: RECAP
      distributor_address_hex: "0x2c93f8482a199051f8662e4e7220d054c7b55239"
      developer_address: zil1vqvh89p856wkll8v8jgajhsm4xf3m5wkqaafz2
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "3000000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1632902400
        total_number_of_epochs: 1077
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil12drvflckms6874ffuujcdxj75raavl4yfn4ssc: 1  # RECAP
    - name: "DeMons Rewards"
      reward_token_symbol: DMZ
      reward_token_address_hex: "0x2fc7167c3baff89e2805aef72636ccd98ee6bbb2"
      distributor_name: DeMons
      distributor_address_hex: "0xe43333dbad2c73107fca658507f0984e2cab1e1a"
      developer_address: zil1wgqff8zgq3erdpexa3fr96prcplflkawdl9dkg
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "8654000000000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1633507200
        total_number_of_epochs: 152
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil19lr3vlpm4lufu2q94mmjvdkvmx8wdwajuntzx2: 1  # DMZ
    - name: "ZIL Rewards"
      reward_token_symbol: ZIL
      reward_token_address_hex: "0x0000000000000000000000000000000000000000"
      distributor_name: Zilliqa
      distributor_address_hex: "0xd84c67723d4ef726ecc982b339c860a22117cba6"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "7550000000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1633507200
        total_number_of_epochs: 6
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1wha8mzaxhm22dpm5cav2tepuldnr8kwkvmqtjq: 1 # zWBTC
        zil19j33tapjje2xzng7svslnsjjjgge930jx0w09v: 1 # zETH
        zil1sxx29cshups269ahh5qjffyr58mxjv9ft78jqy: 1 # zUSDT
    - name: "REDC Rewards"
      reward_token_symbol: REDC
      reward_token_address_hex: "0xaCb721d989c095c64A24d16DfD23b08D738e2552"
      distributor_name: REDC
      distributor_address_hex: "0x41A9e637aE3C4A7F11743d1f9B739d077d1Df230"
      developer_address: zil1vx266dnzmzv6c52np5jlwz43804q45eakecmcz
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "1212000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1635926400
        total_number_of_epochs: 128
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil14jmjrkvfcz2uvj3y69kl6gas34ecuf2j5ggmye: 1  # REDC
    - name: "OKIPAD Rewards"
      reward_token_symbol: OKI
      reward_token_address_hex: "0x54ae64e2092749fb8d25470ffc1d4d6a19c6f2ab"
      distributor_name: OKIDistributor
      distributor_address_hex: "0x7afe32bdd5baeecf35dc61c4ef333b0701f28f8b"
      developer_address: zil10fpw0k7pwp4y9pcxt52jt7as0k54th80kqu6e3
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "2000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1635926400
        total_number_of_epochs: 10
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil12jhxfcsfyaylhrf9gu8lc82ddgvudu4tzvduum: 1 # OKI
    - name: "XCAD Rewards"
      reward_token_symbol: XCAD
      reward_token_address_hex: "0x153feaddc48871108e286de3304b9597c817b456"
      distributor_name: XCAD
      distributor_address_hex: "0xAD48b1C421b7b55E03f91b74681D97f5701c1060"
      developer_address: zil1yfpwa8xvxmgnm520kptpk4yym9qggm9ac3yzgw
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "8750000000000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1636531200
        total_number_of_epochs: 4
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1z5l74hwy3pc3pr3gdh3nqju4jlyp0dzkhq2f5y: 1  # XCAD
    - name: "SPW Rewards"
      reward_token_symbol: SPW
      reward_token_address_hex: "0x083196549637faf95c91eccd157e60430e69e1a7"
      distributor_name: Sparda Wallet
      distributor_address_hex: "0x0ce1389fa06e1a5f5843a7b330279788c1bcda08"
      developer_address: zil1nf3twzcz6w27ptk0whnmxmqyxtv76mve4u5ke9
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "6000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1636527600
        total_number_of_epochs: 30
        initial_epoch_number: 0
        developer_token_ratio_bps: 0
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1pqcev4ykxla0jhy3anx32lnqgv8xncd8q57ql2: 1  # SPW
    - name: "PORT Rewards"
      reward_token_symbol: PORT
      reward_token_address_hex: "0x3a683fdc022b26d755c70e9ed7cfcc446658018b"
      distributor_name: PORTDistributor
      distributor_address_hex: "0x025baf4f2705d04486269d4a71b2f90300ae2d99"
      developer_address: zil1lwhp89ng3m7m0c0d4zfp8tuj43vyftu02nyync
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "100000000" # 10k PORT
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1636934400 # Mon Nov 15 2021 00:00:00 GMT+0000
        total_number_of_epochs: 6
testnet:
  zilswap_address_hex: "0x1a62dd9c84b0c8948cb51fc664ba143e7a34985c"
  distributions:
    - name: "ZWAP Rewards Legacy"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0xb2b119e2496f24590eff419f15aa1b6e82aa7074"
      distributor_name: Zilswap
      distributor_address_hex: "0x4a28a0b3d3fc98a52fc128e3cd40c77a88da696e"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "6250000000000000"
        tokens_for_retroactive_distribution: "50000000000000000"
        retroactive_distribution_cutoff_time: 1630353600
        distribution_start_time: 1630440000
        total_number_of_epochs: 0
        initial_epoch_number: 1
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools: {}
    - name: "ZWAP Rewards"
      reward_token_symbol: ZWAP
      reward_token_address_hex: "0xb2b119e2496f24590eff419f15aa1b6e82aa7074"
      distributor_name: Zilswap
      distributor_address_hex: "0x72979bad9d1114f554572eec1280ca3e7af9ff45"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "6250000000000000"
        tokens_for_retroactive_distribution: "50000000000000000"
        retroactive_distribution_cutoff_time: 1630353600
        distribution_start_time: 1630440000
        total_number_of_epochs: 152
        initial_epoch_number: 1
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentivized_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1k2c3ncjfduj9jrhlgx03t2smd6p25ur56cfzgz: 5 # ZWAP
    - name: "ZIL Rewards"
      reward_token_symbol: ZIL
      reward_token_address_hex: "0x0000000000000000000000000000000000000000"
      distributor_name: Zilliqa
      distributor_address_hex: "0x900e5e1f090bd24ba45db8fd2727cb048d91e505"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "10000000000000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1631664000
        total_number_of_epochs: 6
        initial_epoch_number: 0
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1k2c3ncjfduj9jrhlgx03t2smd6p25ur56cfzgz: 5 # ZWAP
    - name: "STREAM Rewards"
      reward_token_symbol: STREAM
      reward_token_address_hex: "0x7b8a86afbde45b4e081986217e02654b551407a7"
      distributor_name: ZilStream
      distributor_address_hex: "0x30c56b96616eb3d92fce9812c0c857b0102a2fd8"
      developer_address: zil1ytk3ykwlc2vy8fyp7wqp492zjassj5mxzgscv6
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: "2403800000000"
        tokens_for_retroactive_distribution: "0"
        retroactive_distribution_cutoff_time: 0
        distribution_start_time: 1631664000
        total_number_of_epochs: 152
        initial_epoch_number: 0
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 0
      incentivized_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1k2c3ncjfduj9jrhlgx03t2smd6p25ur56cfzgz: 5 # ZWAP
