---
mainnet:
  zilswap_address_hex: "0xBa11eB7bCc0a02e947ACF03Cc651Bfaf19C9EC00"
  distributions:
    - name: "ZWAP Rewards"
      reward_token: zwap
      distributor_name: Zilswap
      distributor_address_hex: "0xca6d3f56218aaa89cd20406cf22aee26ba8f6089"
      developer_address: zil1zjvc2m9f5vh8zl57su5j8lflgaq2lx08kcwdvy
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: 6250_000_000_000_000
        tokens_for_retroactive_distribution: 50000_000_000_000_000
        retroactive_distribution_cutoff_time: 1610964000
        distribution_start_time: 1612339200
        total_number_of_epochs: 152
        initial_epoch_number: 2
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentived_pools:
        zil1p5suryq6q647usxczale29cu3336hhp376c627: 65 # ZWAP
        zil14pzuzq6v6pmmmrfjhczywguu0e97djepxt8g3e: 7  # gZIL
        zil1zu72vac254htqpg3mtywdcfm84l3dfd9qzww8t: 7  # XSGD
        zil18f5rlhqz9vndw4w8p60d0n7vg3n9sqvta7n6t2: 4  # PORT
        zil1s8xzysqcxva2x6aducncv9um3zxr36way3fx9g: 4  # ZCH
        zil1h63h5rlg7avatnlzhfnfzwn8vfspwkapzdy2aw: 4  # XCAD
        zil1lq3ghn3yaqk0w7fqtszv53hejunpyfyh3rx9gc: 3  # Elons
        zil14jmjrkvfcz2uvj3y69kl6gas34ecuf2j5ggmye: 1  # RED
        zil1r9dcsrya4ynuxnzaznu00e6hh3kpt7vhvzgva0: 1  # ZLF
        zil1ucvrn22x8366vzpw5t7su6eyml2auczu6wnqqg: 1  # ZYRO
        zil1w5hwupgc9rxyuyd742g2c9annwahugrx80fw9h: 1  # GARY
        zil1504065pp76uuxm7s9m2c4gwszhez8pu3mp6r8c: 1  # STREAM
testnet:
  zilswap_address_hex: "0x1a62dd9c84b0c8948cb51fc664ba143e7a34985c"
  distributions:
    - name: "ZWAP Rewards"
      reward_token: zwap
      distributor_name: Zilswap
      distributor_address_hex: ""
      developer_address: zil1ua2dhnlykmxtnuaudmqd3uju6altn6lq0lqvl9
      emission_info:
        epoch_period: 604800 # 1 week
        tokens_per_epoch: 6250_000_000_000_000
        tokens_for_retroactive_distribution: 50000_000_000_000_000
        retroactive_distribution_cutoff_time: 1610964000
        distribution_start_time: 1612339200
        total_number_of_epochs: 152
        initial_epoch_number: 2
        developer_token_ratio_bps: 1500
        trader_token_ratio_bps: 2000
      incentived_pools:
        zil1fytuayks6njpze00ukasq3m4y4s44k79hvz8q5: 3 # gZIL
        zil10a9z324aunx2qj64984vke93gjdnzlnl5exygv: 2 # XSGD
        zil1ktmx2udqc77eqq0mdjn8kqdvwjf9q5zvy6x7vu: 5 # ZWAP
